body {
  margin: 0;
  background: black;
  overflow: hidden;
}

/* Tela Start e Intro */
.div-titulo,
.start {
  font-family: "Exo", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: opacity 0.5s ease-in-out;
}

/* Tela Start */
.start {
  z-index: 10;
}

.titulo {
  color: white;
  font-size: 3rem;
  letter-spacing: 2px;
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transform: scale(0.9);
}

/* Botão visível */
.titulo.activate {
  opacity: 1;
  cursor: pointer;
}

@keyframes piscar {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo.activate {
  opacity: 1;
  cursor: pointer;
  animation: piscar 2s infinite ease-in-out;
}

/* Animação da intro */
.titulo.show {
  opacity: 1;
  transform: scale(1);
}

/* Conteúdo principal começa escondido */
main {
  opacity: 0;
  transition: opacity 1s ease;
}
