nav ul {
  display: flex;
  height: 8vh;
  justify-content: space-around;
  background-color: rgb(89, 66, 255);
}

a {
  color: rgb(255, 254, 254);
  text-decoration: none;
  text-align: center;
  line-height: 8vh;
}

a:hover {
  text-decoration: underline;
}
